# known working version 4.0.0
chardet>=3.0.4
# known working version 0.20.4
httplib2>=0.11.3
pyranges==0.1.4
# known working version 6.0
PyYAML>=5.1
synapseclient[pandas]>=4.8.0, <5.0.0
opentelemetry-semantic-conventions==0.56b0
# for synapser
setuptools
